alembic==0.9.1
antiorm==1.2.1
Flask==0.10.1
Flask-Migrate==2.0.3
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
itsdangerous==0.24
Jinja2==2.9.5
Mako==1.0.6
MarkupSafe==1.0
psycopg2==2.7.1
python-editor==1.0.3
requests==2.13.0
simplejson==3.10.0
six==1.10.0
SQLAlchemy==1.1.6
urllib2-file==0.2.1
Werkzeug==0.11.15
