/* custom styles */

/* workaround for the navbar-fixed-top so it doesn't overlap content */

img {
	max-height: 400px;
}

body {
	font-family: 'Lato', sans-serif !important;
}

.backgroundGradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7f3307+0,000000+100 */
	background: #7f3307; /* Old browsers */
	background: -moz-linear-gradient(top, #7f3307 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #7f3307 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #7f3307 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f3307', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

	min-height: 1200px;
	padding-bottom: 40px;
}

#searchBarContainer {
	margin-bottom: 30px;
}

#searchButton {
	padding-left: 40px;
	padding-right: 40px;
}

/* 3px margin is to space it out so the space actually appears */
.searchResultCard a.searchResultHighlight {
	font-weight: bold;
	color: red;
	text-decoration: underline;
}

.resultPropertyMatchRow {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: solid gray 1px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.resultPropertyMatchRow:first-child {
	padding-top: 0px;
}

@media (min-width: 768px){
	.resultPropertyMatchValue {
		border-left: solid gray 1px;
	}
}

@media (max-width: 992px){
	.smallSearchContainer {
		margin-top: 10px;

		width: 100%;
	}

	.smallSearchContainer .input-group {
		width: 100% !important;
		margin-right: -10px;
	}
}

.searchResultsContainer {
	padding-top: 20px;
	padding-bottom: 20px;
}

.searchResultCard {
	margin-top: 20px;
	margin-bottom: 20px;
}

.searchResultCard .card-block {
	background-color: #333;
	border-color: #333;
}

.searchResultCard .card-header {
	background-color: #333;
	border-bottom: 1px solid #f7f7f9;
}

.searchResultCard h1, .searchResultCard h2, .searchResultCard h3, .searchResultCard h4, .searchResultCard h5 {
	color: #f7f7f9;
}

.searchResultCard div, .searchResultCard a {
	color: #f7f7f9;
}
/*
.searchResultCard a {
	text-decoration: underline;
}*/

.searchResultCard a:hover {
	color: #999;
}


.listingTitle {
	color: #f7f7f9;
}

h1.cursive {
	font-family: 'Macondo', cursive;
	font-size: 56px;
}

#contentContainer {
	padding-top: 40px;
	padding-bottom: 40px;
	min-height: 1200px;
}

.details .card {
	margin-top: 10px;
	margin-bottom: 10px;
}

/*.details .card .card-block, .details .card .card-header {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #333;
	border-color: #333;
}

.details h1, .details h2, .details h3, .details h4, .details h5 {
	color: #f7f7f9;
}

.details a {
	color: #f7f7f9;
}
*/
.pageLinks a {
	background-color: #333;
    color: #f7f7f9;
    margin: auto;
    padding: 3px;
    transition: background-color .3s;
	border: 1px solid #f7f7f9;
	border-color: #f7f7f9;
	display: block;
	min-width: 100px;
}

.pageLinks a.disabled {
	color: #555;
}

.pageLinks a.active {
	background-color: #f7f7f9;
	border-color: #333;
	color: #333;
}

.pageLinks a:hover {
	color: #999;
}

.pageLinks a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pageLinks a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pageLinks {
	clear: both;
	position: relative;
	text-align: center;
}

.paginationContainer {
	margin-top: 20px;
	text-align: center;
}

.listingCard .card-block, .sortAndFilterCard .card-block {
	background-color: #333;
	border-color: #333;
}

.listingCard .card-header, .sortAndFilterCard .card-header {
	background-color: #333;
	border-bottom: 1px solid #f7f7f9;
}

.listingCard h1, .listingCard h2, .listingCard h3, .listingCard h4, .listingCard h5 {
	color: #f7f7f9;
}

.sortAndFilterCard h1, .sortAndFilterCard h2, .sortAndFilterCard h3, .sortAndFilterCard h4, .sortAndFilterCard h5 {
	color: #f7f7f9;
}

.listingCard a, .sortAndFilterCard a {
	color: #f7f7f9;
}

.listingCard a:hover, .sortAndFilterCard a:hover {
	color: #999;
}

.sortAndFilterCard .dropdown-menu {
	min-width: 300px;
	width: 300px;
	background-color: #333;
}

@media (max-width: 576px) {
	.card-group {
		margin-bottom: 30px;
	}

	.listingCard {
		margin-top: 10px;
		margin-bottom: 10px;

		height: 200px;
	}

	#listingContainer {
		padding-left: 20px;
		padding-right: 20px;
	}

	.pageLinks a {
		min-width: 18px;
		font-size: 12px;
	}

	.details {
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media (min-width: 577px){
	.listingCard:first-child {
		margin-left: 15px;
	}
	.listingCard:last-child {
		margin-right: 15px;
	}
	.listingCard {
		margin-top: 20px;
		margin-bottom: 10px;

		min-width: 200px;
		height: 250px;	
		width: 200px;	
	}
	#listingContainer {
		padding-left: 40px;
		padding-right: 40px;
	}

	.pageLinks a {
		min-width: 40px;
	}

	.details {
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media (min-width: 992px) { 
	.listingCard {
		margin-top: 10px;
		margin-bottom: 10px;

		min-width: 250px;
		height: 250px;	
		width: 300px;	
	}

	#listingContainer {
		padding-left: 100px;
		padding-right: 100px;
	}

	.pageLinks a {
		min-width: 70px;
	}

	.details {
		margin-left: 40px;
		margin-right: 40px;
	}
}

@media (min-width: 1200px) {
	#listingContainer {
		padding-left: 150px;
		padding-right: 150px;
	}

	.pageLinks a {
		min-width: 100px;
	}

	.details {
		margin-left: 70px;
		margin-right: 70px;
	}
}

.carousel-caption.dark {
	color: black;
}