{% extends "base.html" %}
{% block content %}
<div class="details">
<div id="name" class="card">
	<div class="card-header text-center">
		<h1 class="cursive">{{ alliance.name }}</h1>
	</div>
	<div class="card-block text-center">
		<img src="/static/img/{{ alliance.imageLink }}">
	</div>
</div>
<div id="currentLord_id" class="card">
	<h4 class="card-header">
		Current Lord
	</h4>
	<div class="card-block">
		<a href="/characters/{{ alliance.currentLord_id }}">{{ alliance.currentLord_id }} (Character)</a>
	</div>
</div>
<div id="headHouse_id" class="card">
	<h4 class="card-header">
		Current Head House
	</h4>
	<div class="card-block">
	
		<a href="/houses/{{ alliance.headHouse_id }}">{{ alliance.headHouse_id }} (House)</a>
	</div>
</div>
<div id="ancestralWeapons" class="card">
	<h4 class="card-header">
		Ancestral Weapons this Alliance Has Access To
	</h4>
	<div class="card-block">
		{% for weapon in alliance.ancestralWeapons %}
		<h5>{{ weapon }}</h5>
		{% else %}
		<h5>This alliance has access to no ancestral weapons</h5>
		{% endfor %}
	</div>
</div>
<div id="seats" class="card">
	<h4 class="card-header">
		Seats (Castles) Available to this Alliance
	</h4>
	<div class="card-block">
		{% for seat in alliance.seats %}
		<h5>{{ seat }}</h5>
		{% else %}
		<h5>No seats available to this alliance</h5>

		{% endfor %}
	</div>
</div>
<div id="cultures" class="card">
	<h4 class="card-header">
		Cultures This Alliance Encompasses
	</h4>
	<div class="card-block">
		{% for culture in alliance.cultures %}
		<h5>{{ culture }}</h5>
		{% else %}
		<h5>No cultures available to this alliance</h5>
		{% endfor %}
	</div>
</div>
<div id="regions" class="card">
	<h4 class="card-header">
		Regions This Alliance Encompasses
	</h4>
	<div class="card-block">
		{% for region in alliance.regions %}
		<h5>{{ region }}</h5>
		{% else %}
		<h5>No regions available to this alliance</h5>
		{% endfor %}
	</div>
</div>
<div id="swornHouse_ids" class="card">
	<h4 class="card-header">
		Houses That Are Part of This Alliance
	</h4>
	<div class="card-block">
		{% for sworn_id in alliance.swornHouse_ids %}
			<h5><a href="/houses/{{ sworn_id }}">{{ sworn_id }} (House)</a></h5>
		{% else %}
			<h5>No sworn houses in this alliance</h5>
		{% endfor %}
	</div>
</div>
</div>
{% endblock %}