<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>GoT Thrones?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="/static/favicon.ico">

    <link rel="stylesheet" href="/static/css/font-awesome.min.css?nocache={{ nocache }}">
    <link rel="stylesheet" href="/static/css/style.css?nocache={{ nocache }}">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Lato|Macondo" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
<nav id="navbar" class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="/" class="navbar-brand">GoT Thrones?</a>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            {% for nav in navigation %}
                {% if loop.index0 == nav_highlight %}
                <li class="nav-item active">
                {% else %}
                <li class="nav-item">
                {% endif %}
                    <a class="nav-link" href="{{ nav.url }}">{{ nav.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <form class="form-inline hidden-lg-down">
          <div class="input-group">
              <input id="searchBar" class="form-control" type="text" placeholder="Search...">
              <button id="searchButton" class="input-group-addon btn">
                <span class="fa fa-search"></span>
              </button>
          </div>
        </form>
    </div>
    <div class="container-fluid hidden-lg-up smallSearchContainer">
        <form class="form-inline">
          <div class="input-group">
              <input id="smallSearchBar" class="form-control" type="text" placeholder="Search... ">
              <button id="smallSearchButton" class="input-group-addon btn">
                <span class="fa fa-search"></span>
              </button>
          </div>
        </form>
    </div>

</nav>

<script src="/static/scripts/base.js?nocache={{ nocache }}" type="text/javascript"></script>

<div id="contentContainer" class="container-fluid backgroundGradient">
{% block content %}
{% endblock %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
</body>
</html>
