{% extends "base.html" %}
{% block content %}
<div class="details">
<div class="card">
	<div class="card-header text-center">
		<h1>Book - {{ book.name }}</h1>
	</div>
	<div class="card-block text-center">
		<img src="/static/img/{{ book_images[book.id] }}">
	</div>
</div>
<div class="card">
	<h4 class="card-header">
		Author
	</h4>
	<div class="card-block">
		{{ book.author }}
	</div>
</div>
<div class="card">
	<h4 class="card-header">
		Publisher
	</h4>
	<div class="card-block">
		{{ book.publisher }}
	</div>
</div>
<div class="card">
	<h4 class="card-header">
		Country
	</h4>
	<div class="card-block">
		{{ book.country }}
	</div>
</div>
<div class="card">
	<h4 class="card-header">
		ISBN
	</h4>
	<div class="card-block">
		{{ book.isbn }}
	</div>
</div>
<div class="card">
	<h4 class="card-header">
		Media Type
	</h4>
	<div class="card-block">
		{{ book.mediaType }}
	</div>
</div>
<div class="card">
	<h4 class="card-header">
		Number of Pages
	</h4>
	<div class="card-block">
		{{ book.numberOfPages }}
	</div>
</div>
<div class="card">
	<h4 class="card-header">
		Release Date
	</h4>
	<div class="card-block">
		{{ book.released }}
	</div>
</div>
<div class="card">
	<h4 class="card-header">
		Characters With Chapters Written in Point-of-View
	</h4>
	<div class="card-block">
		{% for char in book.povCharacters %}
			{% if char in character_links %}
			<h5><a href="{{ character_links[char].link }}">{{ character_links[char].name }}</a></h5>
			{% endif %}
		{% else %}
			<h5>This book has no POV characters</h5>
		{% endfor %}
	</div>
</div>
<div class="card">
	<h4 class="card-header">
		Characters That Appear in this Book
	</h4>
	<div class="card-block">
		{% for char in book.characters %}
			{% if char in character_links %}
			<h5><a href="{{ character_links[char].link }}">{{ character_links[char].name }}</a></h5>
			{% endif %}
		{% else %}
			<h5>This book has no characters</h5>
		{% endfor %}
	</div>
</div>
<div class="card">
	<h4 class="card-header">
		Houses That Appear in This Book
	</h4>
	<div class="card-block">
		{% for house in book.houses %}
			{% if house in house_links %}
			<h5><a href="{{ house_links[house].link }}">{{ house_links[house].name }}</a></h5>
			{% endif %}
		{% else %}
			<h5>This book has no houses</h5>
		{% endfor %}
	</div>
</div>
</div>
{% endblock %}