{% extends "base.html" %}
{% block content %}
<div class="details">
<div class="card">
	<div class="card-header text-center">
		<h1 class="cursive">{{ character.name }}</h1>
	</div>
	<div class="card-block text-center">
		<img src="/static/img/chars/{{ character.imageLink }}">
	</div>
</div>
<div class="card">
	<h4 class="card-header">
		House
	</h4>
	<div class="card-block">
		{% if character.house in house_links %}
		<a href="{{ house_links[character.house].link }}">{{ house_links[character.house].name }}</a>
		{% endif %}
	</div>
</div>
<div class="card">
	<h4 class="card-header">
		Culture
	</h4>
	<div class="card-block">
		{{ character.culture }}
	</div>
</div>
<div class="card">
	<h4 class="card-header">
		Gender
	</h4>
	<div class="card-block">
		{% if character.male %}Male{% else %}Female{% endif %}
	</div>
</div>
<div class="card">
	<h4 class="card-header">
		Titles
	</h4>
	<div class="card-block">
	{% for title in character.titles %}
		<h5>{{ title }}</h5>
	{% else %}
		<h5>A character has no names</h5>
	{% endfor %}
	</div>
</div>
<div class="card">
	<h4 class="card-header">
		Died
	</h4>
	<div class="card-block">
	{% if character.died %}
		<h5>{{ character.died }}</h5>
	{% else %}
		<h5>Alive... for now.</h5>
	{% endif %}
	</div>
</div>
<div class="card">
	<h4 class="card-header">
		Books This Character Appears In
	</h4>
	<div class="card-block">
	{% for book in character.books %}
		<h5><a href="{{ book_links[book].link }}">{{ book_links[book].name }} </a></h5>
	{% else %}
		<h5>This character appears in no books</h5>
	{% endfor %}
	</div>
</div>
</div>
{% endblock %}