{% extends "base.html" %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>House</th>
      <th>Age</th>
      <th>Alive?</th>
    </tr>
  </thead>
  <tbody>
  	{% for c in characters %}
    <tr>
      <td>{{ c.name }}</td>
      <td>{{ c.house }}</td>
      <td>{{ c.age }}</td>
      <td>
      	{% if c.status %}
      		Alive
      	{% else %}
      		<strong>Deceased</strong>
      	{% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}