{% extends "base.html" %}
{% block content %}
<div class="row text-center">
	<h1>Developer Notes</h1>
	<br />
</div>
<div class="container">
	<h2>Use Cases</h2>
	<p>This website offers Game of Thrones fans the ability to look up detailed information on their favorite books, characters, houses, and more. We have set up an easy to use comprehensive AI that will let end users to puruse the data in a user friendly manner. We utilize two separate APIs to ensure the completeness of our dataset. The end user can access the DB to cross-reference their own encyclopedic knowledge. There are pages that display information by book, house, and characters. Each instance has its own static page which displays all of the pertinant data. Each page has links to related pages which allows for a continuous user experience. End users can traverse the pages in a mapped pattern due to the intricate connection between the pages on character id and house id. Users will find this experience very similar to websites like IMDB. a</p>
	<h2>RESTful API</h2>
	<p>Two APIs are scraped to create the tables and relations. An API of Ice and Fire, and GOT API, these APIs have detailed information on each character, house, book, and location. This allows for the basic models for Character, House, and Book; the relationships between these datasets allow us to construct more complex models like alliances between houses. The GOT API also has models for events, continents, cultures, etc. These models could be used to extend our functionality.</p>
	<h2>Models</h2>
	<p>C</p>
	<h2>Tools</h2>
	<p></p>
	<h2>Hosting</h2>
	<p>E</p>
</div>
{% endblock %}

<!--Write an initial technical report
It must be at least 2500 words.
The report must be embedded in the website.
Document the use cases, RESTful API, models, tools, and hosting well.
The audience comprises other software developers, as opposed to users.
Format the report clearly, attractively, and consistently, using good sections, multiple pages, good headers, figures, and grammar. -->
