{% extends "base.html" %}
{% block content %}
<div class="container">
	<h1>Developer Notes</h1>
	<h2>Use Cases</h2>
	<h2>RESTful API</h2>
	<h2>Models</h2>
	<h2>Tools</h2>
	<h2>Hosting</h2>
</div>
{% endblock %}

<!--Write an initial technical report
It must be at least 2500 words.
The report must be embedded in the website.
Document the use cases, RESTful API, models, tools, and hosting well.
The audience comprises other software developers, as opposed to users.
Format the report clearly, attractively, and consistently, using good sections, multiple pages, good headers, figures, and grammar. -->