{% extends "base.html" %}
{% block content %}
<div class="details">
<div class="card">
	<div class="card-header text-center">
		<h1 class="cursive">{{ house.name }}</h1>
	</div>
	<div class="card-block text-center">
		<img src="/static/img/houses/{{ house.id }}.png">
		<p>Only the largest houses have media available</p>
	</div>
</div>
<div class="card">
	<h4 class="card-header">
		Current Lord
	</h4>
	<div class="card-block">
		{% if house.currentLord_id in character_links %}
		<a href="/characters/{{ house.currentLord_id }}">{{ house.currentLord_id }} (Character)</a>
		{% endif %}
	</div>
</div>
<div class="card">
	<h4 class="card-header">
		Member of Alliance
	</h4>
	<div class="card-block">
		<a href="/alliances/{{ house.alliance_id }}">{{ house.alliance_id }} (Alliance)</a>
	</div>
</div>
<div class="card">
	<h4 class="card-header">
		Region
	</h4>
	<div class="card-block">
		{{ house.region }}
	</div>
</div>
<div class="card">
	<h4 class="card-header">
		Coat of Arms
	</h4>
	<div class="card-block">
		{{ house.coatOfArms }}
	</div>
</div>
<div class="card">
	<h4 class="card-header">
		Founded
	</h4>
	<div class="card-block">
		{{ house.founded }}
	</div>
</div>
<div class="card">
	<h4 class="card-header">
		Overlord House
	</h4>
	<div class="card-block">
		<a href="/houses/{{ house.overlord_id }}">{{ house.overlord_id }} (House)</a>
	</div>
</div>
<div class="card">
	<h4 class="card-header">
		Extinct
	</h4>
	<div class="card-block">
		{% if house.isExtinct %}Yes{% else %}No{% endif %}
	</div>
</div>
<div class="card">
	<h4 class="card-header">
		Words
	</h4>
	<div class="card-block">
		{{ house.words }}
	</div>
</div>
<div class="card">
	<h4 class="card-header">
		Sworn Members
	</h4>
	<div class="card-block">
	{% for char_id in house.swornMember_ids %}
		<h5><a href="/characters/{{ char_id }}">{{ char_id }} (Character)</a></h5>
	{% else %}
		House has no sworn members
	{% endfor %}
	</div>
</div>
</div>
{% endblock %}