{% extends "base.html" %}
{% block content %}
<div class="row text-center">
	<h1>House - {{ house.name }}</h1>
	<br />
</div>
<div class="row text-center">
	<img src="https://api.got.show/{{ house.imageLink }}">
</div>
<div class="row text-center">
	<h4>Current Lord - {{ house.currentLord }}</h4>
	<h4>Region - {{ house.region }}</h4>
	<h4>Coat of Arms - {{ house.coatOfArms }}</h4>
	<h4>Founded - {{ house.founded }}</h4>
	<h4>Overlord - {{ house.overlord }}</h4>
	<h4>Excinct - {% if house.isExtinct %}Yes{% else %}No{% endif %}</h4>
	<h4>Words - {{ house.words }}</h4>
</div>
{% endblock %}