{% extends "base.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="jumbotron">
  <h1>GoT Thrones?</h1">
  <p>GoT Thrones is a Game of Thrones website that has the latest information on characters, houses, regions and the books that our savior George R. R. Martin generously provided us.</p>
  	<!-- Carousel -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	    <li data-target="#myCarousel" data-slide-to="3"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
	      <img src="/static/img/characters-splash.jpg" alt="Characters" style="display:block;margin:0 auto;">
	      <div class="carousel-caption">
	        <h3>Characters</h3>
	        <p>Who's who in the Game of Thrones</p>
	      </div>
	    </div>

	    <div class="item">
	      <img src="/static/img/houses-splash.jpg" alt="Houses" style="display:block;margin:0 auto;">
	      <div class="carousel-caption">
	        <h3>Houses</h3>
	        <p>The most powerful families of the realm</p>
	      </div>
	    </div>

	    <div class="item">
	      <img src="/static/img/regions-splash.png" alt="Regions" style="display:block;margin:0 auto;">
	      <div class="carousel-caption">
	        <h3>Regions</h3>
	        <p>Gotta Conquer'em All</p>
	      </div>
	    </div>

	    <div class="item">
	      <img src="/static/img/books-splash.jpg" alt="Books" style="display:block;margin:0 auto;">
	      <div class="carousel-caption">
	        <h3>Books</h3>
	        <p>Watch... or read?</p>
	      </div>
	    </div>
	</div>
</div>
{% endblock %}