{% extends "base.html" %}
{% block content %}
<div class="row text-center">
<h1>{{ listing.title }}</h1>
<br />
</div>
<table class="table">
  <thead>
    <tr>
    {% for property in listing.properties %}
      <th>{{ property[0] }}</th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
  	{% for val in listing.data %}
    <tr>
      {% for property in listing.properties %}
        {% if loop.index0 == 0 %}
      <td><a href="{{ val.link }}">{{ val[property[1]] }}</a></td>
        {% else %}
      <td>{{ val[property[1]] }}</td>
        {% endif %}  
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}